# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# React Native
.expo/
.expo-shared/
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.rej
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac/Linux/Windows junk
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Metro
.cache/
